<!-- SIDE BAR -->
<aside id="side">

	<div id="cart" class="block_aside">
		<h3>My cart</h3>
		<ul>
			<?php $stats = Utils::statsCart(); ?>
			<li><a href="<?=base_url?>cart/index">Products (<?=$stats['count']?>)</a></li>
			<li><a href="<?=base_url?>cart/index">Total: <?=$stats['total']?> $</a></li>
			<li><a href="<?=base_url?>cart/index">See cart</a></li>
		</ul>
	</div>
	
	<div id="login" class="block_aside">
		
		<?php if(!isset($_SESSION['identity'])): ?>
			<h3>Entrar a la web</h3>
			<form action="<?=base_url?>username/login" method="post">
				<label for="email">Email</label>
				<input type="email" name="email" />
				<label for="password">Password</label>
				<input type="password" name="password" />
				<input type="submit" value="Submit" />
			</form>
		<?php else: ?>
			<h3><?=$_SESSION['identity']->nombre?> <?=$_SESSION['identity']->apellidos?></h3>
		<?php endif; ?>

		<ul>
			<?php if(isset($_SESSION['admin'])): ?>
				<li><a href="<?=base_url?>category/index">Manage categories</a></li>
				<li><a href="<?=base_url?>product/manage">Manage products</a></li>
				<li><a href="<?=base_url?>oder/manage">Manage oders</a></li>
			<?php endif; ?>
			
			<?php if(isset($_SESSION['identity'])): ?>
				<li><a href="<?=base_url?>oder/my_oders">My oders</a></li>
				<li><a href="<?=base_url?>username/logout">Sign out</a></li>
			<?php else: ?> 
				<li><a href="<?=base_url?>username/register">Register here</a></li>
			<?php endif; ?> 
		</ul>
	</div>

</aside>

<!-- CENTRAL CONTENT -->
<div id="central">